In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('chrunch modeling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
df = df.drop(['RowNumber', 'Surname', 'CustomerId'], axis='columns', errors='ignore')
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
dummies = pd.get_dummies(df[['Gender', 'Geography']], dtype=int)
dummies.head(5)

,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
0,1,0,1,0,0
1,1,0,0,0,1
2,1,0,1,0,0
3,1,0,1,0,0
4,1,0,0,0,1

In [5]:
df = pd.concat([df, dummies],axis='columns')
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1,1,0,1,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0,0,0,1
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1,1,0,1,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,1,0,1,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0,0,0,1

In [7]:
target = df['Exited']

In [8]:
target.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [10]:
print(df.groupby('CreditScore')['Exited'].mean())
print(df.groupby('EstimatedSalary')['Exited'].mean())
print(df.groupby('Exited').mean(numeric_only=True))

CreditScore
350    1.000000
351    1.000000
358    1.000000
359    1.000000
363    1.000000
         ...
846    0.400000
847    0.333333
848    0.000000
849    0.250000
850    0.184549
Name: Exited, Length: 460, dtype: float64
EstimatedSalary
11.58        1.0
90.07        0.0
91.75        1.0
96.27        0.0
106.67       0.0
            ...
199909.32    0.0
199929.17    0.0
199953.33    0.0
199970.74    0.0
199992.48    0.0
Name: Exited, Length: 9999, dtype: float64
        CreditScore        Age    Tenure       Balance  NumOfProducts  \
Exited
0        651.853196  37.408389  5.033279  72745.296779       1.544267
1        645.351497  44.837997  4.932744  91108.539337       1.475209

        HasCrCard  IsActiveMember  EstimatedSalary  Gender_Female  \
Exited
0        0.707146        0.554565     99738.391772       0.427477
1        0.699067        0.360825    101465.677531       0.559156

        Gender_Male  Geography_France  Geography_Germany  Geography_Spain
Exited
0          0.572523          0.527942           0.212859         0.259199
1          0.440844          0.397644           0.399607         0.202749

In [11]:
df = df.drop(['Gender','Geography','target','HasCrCard','Tenure','NumOfProducts'],axis='columns',errors='ignore')
df.head()

,CreditScore,Age,Balance,IsActiveMember,EstimatedSalary,Exited,Gender_Female,Gender_Male,Geography_France,Geography_Germany,Geography_Spain
0,619,42,0.00,1,101348.88,1,1,0,1,0,0
1,608,41,83807.86,1,112542.58,0,1,0,0,0,1
2,502,42,159660.80,0,113931.57,1,1,0,1,0,0
3,699,39,0.00,0,93826.63,0,1,0,1,0,0
4,850,43,125510.82,1,79084.10,0,1,0,0,0,1

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.3)

In [13]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

RandomForestClassifier()

In [14]:
model.score(X_test, y_test)

1.0

In [16]:
model.predict([[850,43,125510.82,1,79084.10,0,1,0,0,0,1]])

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([0])